@font-face {
  font-family: 'Laila';
  src:  url('./laila.woff2') format('woff2'),
        url('./laila.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


.hello {
  color: red;
  font-family: Laila;
  background: url('./icon.png');
}
